.box
{
    width:300px;
    background: skyblue;
    border: 2px solid black;
    text-align: justify;
    padding: 40px 50px;
    box-sizing: border-box;
    /* padding-left:40px;padding-right:50px;*/
}
.box2
{
    width: 300px;
    background: lightgreen;
    /*margin:0 0 0 100px;*/
    margin-left: 100px;
    margin-top: 100px;
}
.box3
{
    width: 800px;
    height: 200px;
    background: red;
    margin-left: auto;
    margin-right: auto;
    /*margin: auto;*/
}